<section class="bg-black">
    <div class="bg-wave-pattern bg-repeat-x h-6 relative -top-4"></div>

    <div class="container mx-auto text-center py-10 w-2/3">
        <div class="pb-5">
            <a href="https://wa.link/st98za" class="xl:text-2xl my-4 inline-block py-2 px-16 border-4 border-yellow-400 text-white font-bold p-2 align-middle transition duration-500  rounded-3xl hover:bg-white hover:text-black group">
                Ponte en contacto 
                <span class="w-4 h-4 inline-block border-yellow-300 border-solid border-t-[5px] border-r-[5px] transition-all transform rotate-45 group-hover:border-red-500 xl:group-hover:ml-4"></span>
            </a>
        </div>

        <div class="text-white columns-3 content-start items-start">
            <div>
                <h2 class="text-yellow-400 text-xl font-bold">PRODUCTOS</h2>
                <ul class="">
                    <li>Hamacas</li>
                    <li>Tipis</li>
                    <li>Sofa</li>
                    <li>Rascadores</li>
                </ul>
            </div>
            <div>
                <h2 class="text-yellow-400 text-xl font-bold">INFORMACION</h2>
                <ul class="">
                    <li>Preguntas Frecuentes</li>
                    <li>Responsabilidad Social</li>
                    <li>Hacer un pedido</li>
                    <li>Nuestros Gatos</li>
                </ul>
            </div>
            <div>
                <h2 class="text-yellow-400 text-xl font-bold">CONTACTO</h2>
                <ul class="">
                    <li><i class="fa fa fa-whatsapp" aria-hidden="true"></i><a href="https://wa.link/st98za" target="_blank" rel="noopener noreferrer">&nbsp; 981810805</a></li>
                    <li><i class="fa fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@cosasdegato.pe">&nbsp; info@cosasdegato.pe</a></li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Lunes a Sábado</li>
                    <li><i class="fa fa fa-clock-o" aria-hidden="true"></i>&nbsp; 8:00 am a 8:00 pm</li>
                </ul>
            </div>


        </div>
    </div>
</section>